.button-upload{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#box-upload{
    background: grey;
    padding-bottom: 80px
}

.card-photo{
    margin-top: 100px;
}
.rama {
    display: none;
}
.rama-block {
    display: block;
}